/* Add custom styles here */

/* Set background color for the page */
body {
    background-color: #f2f2f2;
}

/* Style the navigation bar */
.navbar {
    background-color: #2E7AA9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    font-weight: bold;
    font-size: 2rem;
    color: #2E7AA9;
}

.nav-link {
    color: #ffffff;
    font-weight: bold;
    font-size: 1.6em;
}


/* Style the container for the list of items */
.container {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

/* Style the list of items */
.list-group-item {
    background-color: #fff;
    border-color: #ccc;
}

.list-group-item:hover {
    background-color: #f2f2f2;
}

/* Style the heading and timestamp for each item */
.list-group-item .mb-1 {
    font-size: 18px;
    font-weight: bold;
}

.list-group-item small {
    color: #999;
}

/* Set the width of the list items to 100% */
.list-group-item {
    width: 100%;
}

.btn-lg{
    background-color: #D10165;
    border: 1px solid #D10165;
   
}



.container {
    margin-top: 4rem;
  }
  
  .btn-write {
    margin-left: auto;
    display: block;
    margin-bottom: 1rem;
    font-weight: 700;
    text-align: center;
    font-size: small;
  }

  .btn-write:hover {
    background-color: white;
    border: 1px solid #D10165;
    color: #D10165 ;
  }

/*   
  #button {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  max-width: 250px; 
  margin-bottom: 3px;
    
  } */

  #button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 1px;
  }
  
  .btn-write {
    margin-right: 5px;
    margin-left: 10px;
  }



