/* Style for the page title */
h1 {
    text-align: center;
    margin-top: 50px;
    font-size: 36px;
    font-weight: bold;
    color: #330C2F;
}

/* Style the navigation bar */
.navbar {
    background-color: #2E7AA9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    font-weight: bold;
    font-size: 2rem;
    color: #2E7AA9;
}

.nav-link {
    color: #ffffff;
    font-weight: bold;
    font-size: 1.6em;
}

/* Styles for the cards */
.card {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    padding: 20px;
    margin: 50px auto;
    width: 80%;
    max-width: 600px;
}

/* Styles for the card headings */
.card h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #330C2F;
}

/* Styles for the card content */
.card p {
    font-size: 16px;
    line-height: 1.5;
    color: #330C2F;
}

/* Styles for the "Learn more" button */
.card a {
    display: inline-block;
    background-color: #D10165;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 20px;
    text-decoration: none;
}


.card a:hover {
    background-color: white ;
    border: 1px solid #D10165;
    color: #D10165 ;
}
