/* change font */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  /* Navbar */
  .navbar {
    background-color: #2E7AA9;
  }
  
  .navbar-brand {
    font-weight: bold;
    font-size: 2rem;
    color: #2E7AA9;
  }
  
  .nav-link {
    color: #ffffff;
    font-weight: bold;
  }
  
  /* Hero section */
  #hero {
    height: 50vh;
    display: flex;
    align-items: center;
  }
  
  #hero h1 {
    font-size: 4rem;
    margin-bottom: 2rem;
    color: #212529;
  }
  
  #hero p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    color: #6c757d;
  }
  
  .btn-primary {
    background-color: #D10165;
    border-color: #D10165;
    font-weight: bold;
  }
  
  .btn-primary:hover {
    background-color: #D10165;
    border-color: #D10165;
  }
  
  /* Features section */
  #features {
    padding: 4rem 0;
  }
  
  #features h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #212529;
  }
  
  #features p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    color: #6c757d;
  }
  
  .card-body {
    text-align: center;
  }
  
  /* Testimonials section */
  #testimonials {
    padding: 4rem 0;
  }
  
  #testimonials h2 {
    font-size: 3rem;
    margin-bottom: 2rem;
    color: #212529;
    text-align: center;
  }
  
  blockquote {
    border-left: none;
    padding: 0;
    font-size: 1.2rem;
    margin-bottom: 2rem;
    color: #6c757d;
  }
  
  blockquote p {
    font-style: italic;
    margin-bottom: 1rem;
  }
  
  blockquote footer {
    font-weight: bold;
    font-size: 1.2rem;
  }
  