/* change font */
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Navbar */
.navbar {
  background-color: #2E7AA9;
}

.navbar-brand {
  font-weight: bold;
  font-size: 2rem;
  color: #2E7AA9;
}

.nav-link {
  color: #ffffff;
  font-weight: bold;
  font-size: 1.6em;
}

/* Hero section */
#hero {
  height: 50vh;
  display: flex;
  align-items: center;
}

#hero h1 {
  font-size: 4rem;
  margin-bottom: 2rem;
  color: #330C2F ;
}

#hero p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  color: #232E21;
}

/* .btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  font-weight: bold;
}

.btn-primary:hover {
  background-color: #0062cc;
  border-color: #005cbf;
} */

/* Features section */
#features {
  padding: 4rem 0;
}

#features h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #d10165;
}

#features p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  color: #232E21;
}

.card-body {
  text-align: center;
}

/* Testimonials section */
#testimonials {
  padding: 4rem 0;
}

#testimonials h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
  color: #330C2F;
  text-align: center;
}

blockquote {
  border-left: none;
  padding: 0;
  font-size: 1.2rem;
  margin-bottom: 2rem;
  color: #232E21;
}

blockquote p {
  font-style: italic;
  margin-bottom: 1rem;
}

blockquote footer {
  font-weight: bold;
  font-size: 1.2rem;
}

.btn-lg {
  background-color: #d10165;
  border: 1px solid #d10165;
  font-weight: bold;
}

.btn-lg:hover {
  background-color: white;
  border: 1px solid #d10165;
  color: #d10165;
}

#posts-go-here {
  display: flex;
  flex-wrap: nowrap;
}